@model IEnumerable<Perpustakaan.Models.IBuku>

@{
    ViewData["Title"] = "Index";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h4 class="page-header-title">
                        Data  Buku
                    </h4>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="card mb-4">
    <div class="card-header">Data Buku</div>
    <div class="card-body p-0">
        <!-- Billing history table-->
        <div class="table-responsive table-billing-history">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th class="border-gray-200" scope="col">No.</th>
                        <th class="border-gray-200" scope="col">Judul Buku</th>
                        <th class="border-gray-200" scope="col">Tahun</th>
                        <th class="border-gray-200" scope="col">Penerbit</th>
                        <th class="border-gray" scope="col">Penulis</th>
                        <th><a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Tambah</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Buku.IdBuku)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Buku.Judul)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Buku.Tahun)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Penerbit.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Penulis.Nama)
                        </td>
                        <td>
                            <a asp-action="AddOrEdit" asp-route-id="@item.Buku.IdBuku"><i class="fa fa-eye fa-lg"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Buku.IdBuku" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

